body {
  margin: 0 auto;
}

header {
  margin-top: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container {
  max-width: 1200px;
}

.form-input {
  margin-bottom: 1.5rem;
}

.input-group {
  margin-bottom: 1rem;

  .btn {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.form-check {
  margin-top: 1.5rem;
}

.form-date {
  margin-bottom: 1.5rem;
}

.btn {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.form-references-wrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  :first-child{
    margin-right: .25rem;
  }
  :last-child{
    margin-left: .25rem;
  }
}

.form-buttons-wrapper{
  display: flex;
  justify-content: center;
  :first-child{
    margin-right: .25rem;
  }
  :last-child{
    margin-left: .25rem;
  }
}

@media (max-width: 576px) {
  body {
    font-size: .7rem;
  }
  .btn {
    font-size: .7rem;
  }
  .form-control {
    font-size: .7rem;
  }
  .input-group {
    .btn {
      font-size: .7rem;
    }

    input {
      font-size: .7rem;
    }

    label {
      font-size: .7rem;
    }
  }
}